# $schema: https://json.schemastore.org/github-workflow
name: 'Publish Plugin'

on:
  release:
    types:
      - released
  workflow_dispatch:

jobs:
  publish:
    uses: jellyfin/jellyfin-meta-plugins/.github/workflows/publish.yaml@master
    with:
      version: ${{ github.event.release.tag_name }}
      is-unstable: ${{ github.event.release.prerelease }}
    secrets:
      deploy-host: ${{ secrets.REPO_HOST }}
      deploy-user: ${{ secrets.REPO_USER }}
      deploy-key: ${{ secrets.REPO_KEY }}
