# $schema: https://json.schemastore.org/github-workflow
name: 'Upload plugin to GH release'

on:
  workflow_call:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v6
        with:
          name: build-artifact

      - name: Prepare GH Release Assets
        run: |-
          for file in ./*; do
            md5sum ${file#./} >> ${file%.*}.md5
            sha256sum ${file#./} >> ${file%.*}.sha256
          done
          ls -l

      - name: Upload GH Release Assets
        uses: ssvenstaro/upload-release-action@v2
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./*
